@use "@/styles/variable" as variables;

.resultsChart {
  text-align: center;
  margin: variables.spacing(xl) auto;
  max-width: 600px;
  padding: variables.spacing(md);
  background-color: variables.color(light-background);
  border-radius: variables.border-radius(md);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  h3 {
    font-size: variables.font-size(lg);
    margin-bottom: variables.spacing(md);
    color: variables.color(gray-dark);
    font-weight: variables.font-weight(bold);
  }
}
