@use "@/styles/variable" as variables;

.formContainer {
  width: 100%;
  max-width: 400px;
  border-radius: variables.border-radius(lg);
  display: flex;
  flex-direction: column;

  h2 {
    margin-bottom: variables.spacing(md);
    text-align: center;
    color: variables.color(light-text);
    font-size: variables.font-size(large);
    font-family: variables.font(heading);
  }

  .errorMessage {
    color: variables.color(error);
    font-size: variables.font-size(sm);
  }

  button {
    margin-top: variables.spacing(md);
  }
}
